body {
  background-color: tan;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  
  text-align: left;
  background-color:  hsl(359, 85%, 66%);
  font-family: 'Lobster', cursive;
  font-size: 4em;
  padding: 20px;
  margin-bottom: 20px;
  color: #7e57c2;
}


#img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  color: red;
  width: max-content;
  margin: auto;
  font-size: 24px;
  
}

ul {
  color: #fff;
  width: max-content;
  margin: auto;
  background-color: ;
}

li {
  line-height: 30px;
}


img {
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 10px;
  margin-right: 40px;
  border-image: linear-gradient(
    hsl(359, 85%, 66%),
    hsl(179, 85%, 66%)
  ) 1;

}

#show-results-btn {
  width: inherit;
  font-family: 'Exo 2', sans-serif;
  padding: 1px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: hsl(359, 85%, 66%);
  z-index: 0;
  margin: 30px auto 30px;
  height: 30px;

}

footer {
  height: 100px;
  font-size: 1.5em;
  text-align: right;
  margin-right: 20px;
  color: #7e57c2;
  
}

#content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
  color: black;
  background-color: antiquewhite;
  
}

#results-container {
  text-align: left;
  margin-bottom: 10px;
  background-color: aqua;
}

#chart {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  align-items: center;
}